@tailwind base;
@tailwind components;
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/woff2/IRANSansWeb\(FaNum\).woff2") format("woff2");
  src: url("./assets/fonts/woff/IRANSansWeb\(FaNum\).woff") format("woff");
  src: url("./assets/fonts/ttf/IRANSansWeb\(FaNum\).ttf") format("ttf");
}

* {
  font-family: "IRANSans" !important;
  scrollbar-width: thin;
  scrollbar-color: #0d5c75 #a5d1e1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #0d5c75;
}

*::-webkit-scrollbar-thumb {
  background-color: #0d5c75;
  border-radius: 20px;
  border: 3px solid #a5d1e1;
}

@tailwind utilities;
